.text-centered{
    text-align: center;
    justify-content: center;
}
#startbutton{
    width: 100%;
    margin-top: 150px;
}

.secondcard{
    display: none;
}
.correctAnswerCard{
    display: none;
}
.wrongAnswerCard{
    display: none;
}
.thirdcard{
    display: none;
}
.correctAnswerTitle{
    display: none;
}
.wrongAnswerTitle{
    display: none;
}
.timeOutCard{
    display: none;
}
.fourthcard{
    display: none;
}
.fifthcard{
    display: none;
}
.resultCard{
    display: none;
}

.firstOptionClass:hover{
background-color: #82c5db;
}
.firstOptionClass{
    font-family: none;
}
.time_remaining{
    font-family: none;
}
#question_itself{
    font-family: none;
}
.correctOption{
    font-family: none;
}
#correctAnswerFont{
    font-family: none;
}
.resultCard{
    font-family: none;
}
.backgroundcolor{
    background-image: url("../images/triviaimage4.jpg");
}

#messageLabel{
    font-family: "Bungee Shade", cursive;
    min-height: 125px;
    margin-top: 50px;
}

/* setting the animated title */
@import url("//fonts.googleapis.com/css?family=Bungee+Shade");
* {
  font-family: "Bungee Shade";
}

body {
  background-color: #2980b9;
  color: #2c3e50;
}

h1 {
  color: #2c3e50;
  margin-top: 100px;
  font-size: 50px;
  text-align: center;
}
@media screen and (max-width: 850px) {
  h1 {
    font-size: 2em;
  }
}
@media screen and (max-width: 550px) {
  h1 {
    font-size: 1.5em;
  }
}
